 nav a {
            color: olive;
            text-decoration: none;
            font-size: 18px;
            padding: 6px 12px;
            transition: 0.3s;
        }

        nav a:hover {
            background-color: white;
            color: black;
            border-radius: 5px;
        }
